.desc_wrapper {
   .desc_hover_stroke {
      display: flex;
      justify-content: center;
      margin-top: 25px;
     .each_desc_stroke {
         width: 13%;
         border: 2px solid #F18E00;
     }
   }
   .desc_text {
      display: flex;
      justify-content: center;
      gap: 55px;
      margin-top: 68px;
      padding: 0 80px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #C9C9C9;
      font-family: Armenian;
      $breakpoint-tablet:920px;
      @media(max-width:$breakpoint-tablet){
         gap: 43px;
         font-size: 12px;
         line-height: 16px;
         margin-top: 49px;
      }
   }
      .description {
         padding-top: 107px;
         $breakpoint-tablet:768px;
         @media(max-width:$breakpoint-tablet){
           display: none;
          }
         .each_desc_container {
           display: flex;
           align-items: center;
           background: #FFFFFF;
           box-shadow: 0px 8px 22px rgba(50, 94, 137, 0.25);
           border-radius: 10px;
           width: 27.7%;
           gap: 13px;
           span {
           font-family: Armenian;
           font-weight: 400;
           font-size: 20px;
           line-height: 27px;
           color: #004494;
         }
         
      }
   }
}




