.verify_email {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 4, 125);
    .verify_email_container {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .verify_email_form {
            >input {
                outline-style: none;
                height: 25px;
                border-radius: 8px;
                border: none;
                margin-top: 5px;
                padding-left: 10px;
            }
            >label{
                color: #FFFFFF;
                font-family: Armenian;
                font-size: 20px;
                font-weight: 700;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
             .verify_email_button {
                margin-top: 30px;
                background-color: rgb(48, 4, 125);
                color: #FFFFFF;
                outline: none;
                border: 2px solid #FFFFFF;
                padding: 8px;
                border-radius: 8px;
                font-size: 16px;
                &:hover {
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
        }
    }
}