.header_wrapper {
    width: 100%;
    .header_title {
        display: flex;
        justify-content: space-between;
        min-width: max-content;
        font-size: 13px;
        background: #F5F5F5;
        padding: 10px 275px;
        font-family: Armenian;
    }
     .covid_content {
         color: #0063BD;
     }
        .header_title_contact {
            color: #0063BD;
            display: flex;
            gap: 213px;
            font-size: 15px;
            font-family: Roboto;
            .header_title_contact_span {
                white-space: nowrap
            }
        }
          .header_language {
              display: flex;
              svg {
                margin-left: 7px;
                margin-top: 3px;
              }
          }

   .header_content {
       display: flex;
       justify-content: space-between;
       padding: 21px 275px;
       width: 100%;
        .header_svg_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 10px;
        }
            .header_svg_container {
                display: flex;
                align-items: center;
                gap: 36px;
                margin-left: 166px;
                font-family: Armenian;
            }
                .header_left_content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 45px;
                    margin-right: 41px;
                }
                     .header_menubar {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-size: 16px;
                         color: #0063BD;
                         white-space: nowrap;
                         
                            svg {
                                margin-right: 4px;
                            }

                        }
                                .header_arrow {
                                    margin-left: 10px;
                                    margin-bottom: 5px;
                                }
                                    .header_input_container {
                                        width: 100%;
                                        height: 47px;
                                        display: flex;
                                        .input_search_box {
                                            background: #0063BD;
                                            width: 72px;
                                            height: 47px;
                                            display: grid;
                                            place-items: center;
                                            border-radius: 0px 30px 30px 0px;
                                            min-width: 72px;
                                        }
                                    }
                                        .header_input{
                                            width: 100%;
                                            height: 100%;
                                            border-bottom-left-radius: 26px;
                                            border-top-left-radius: 26px;
                                            background: #F5F5F5;
                                            border: none;
                                            outline-style: none;
                                            padding-left: 23px;
                                            font-family: Armenian;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 22px;
                                        }
                                            
                                                
                                    }
                    }

@media only screen and (max-width: 1620px) {
    .header_title_contact_span {
        display: none;
    }
  }