.header_wrapper {
    width: 100%;
    .header_title {
        background: #F5F5F5;
        

        .container {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: Armenian;
            $breakpoint-tablet: 920px;
            @media (max-width: $breakpoint-tablet) {
                padding: 5px 50px;
        }
            $breakpoint-tablet: 768px;
            @media (max-width: $breakpoint-tablet) {
                padding: 5px 15px;
        }
        }
    }
     .covid_content {
         color: #0063BD;
         $breakpoint-tablet: 920px;
         @media (max-width: $breakpoint-tablet) {
                    font-size: 11px;
                    line-height: 15px;
        }
     }
        .header_title_contact {
            color: #0063BD;
            display: flex;
            gap: 213px;
            font-size: 15px;
            font-family: Roboto;

            .hidden_times_symbol {
                display: none;
                $breakpoint-tablet: 920px;
                @media (max-width: $breakpoint-tablet) {
                    display: unset;
                    svg{
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            .header_title_contact_span {
                white-space: nowrap;
                $breakpoint-tablet: 920px;
                @media (max-width: $breakpoint-tablet) {
                    display: none;
                }
                
            }
        }
          .header_language {
              display: flex;
              font-size: 13px;
              line-height: 18px;
              $breakpoint-tablet: 920px;
              @media (max-width: $breakpoint-tablet) {
                    display: none;
            }
                svg {
                    margin-left: 7px;
                    margin-top: 3px;
                }
          }

   .header_content {
       width: 100%;

      .container {
          display: flex;
          justify-content: space-between;
          gap: 175px;
          $breakpoint-tablet: 1200px;
              @media (max-width: $breakpoint-tablet) {
                    gap: 25px;
            }
          

        & > .left-panel {
                display: flex;
                justify-content: space-between;
                padding: 21px 0;
                gap: 41px;
                width: 100%;
                $breakpoint-tablet: 992px;
                @media (max-width: $breakpoint-tablet) {
                        gap: 25px;
                }
                $breakpoint-tablet: 768px;
                @media (max-width: $breakpoint-tablet) {
                        gap: 13px;
                }
 
        }
      }
        .header_svg_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 10px;
            cursor: pointer;
            >span {
                >svg {
                    width: 30px;
                    height: 30px;
                    $breakpoint-tablet: 992px;
                    @media (max-width: $breakpoint-tablet) {
                            width: 17px;
                            height: 17px;
                    }
                }
                >svg path{
                    width: 30px;
                    height: 30px;
                    fill: #5F6D7C;
                    $breakpoint-tablet: 992px;
                    @media (max-width: $breakpoint-tablet) {
                            width: 17px;
                            height: 17px;
                    }
                }
            }

            

            .header_svg_box_text {
                $breakpoint-tablet: 992px;
                @media (max-width: $breakpoint-tablet) {
                        display: none;
                }
            }
        }
            .header_svg_container {
                display: flex;
                align-items: center;
                gap: 45px;
                font-family: Armenian;
                $breakpoint-tablet: 992px;
                    @media (max-width: $breakpoint-tablet) {
                            gap: 20px;
                    }

                    .profile {
                        display: none;
                        $breakpoint-tablet: 992px;
                            @media (max-width: $breakpoint-tablet) {
                                    display: unset;
                            }
                        $breakpoint-tablet: 768px;
                            @media (max-width: $breakpoint-tablet) {
                                    display: none;
                            }
                    }
                    .heart {
                        display: none;
                        $breakpoint-tablet: 992px;
                            @media (max-width: $breakpoint-tablet) {
                                    display: unset;
                            }
                            $breakpoint-tablet: 768px;
                            @media (max-width: $breakpoint-tablet) {
                                    display: none;
                            }
                    }

                .header_svg_box_hidden {
                    $breakpoint-tablet: 768px;
                    @media (max-width: $breakpoint-tablet) {
                            display: none;
                    }
                }
                .zambyugh {
                    $breakpoint-tablet: 992px;
                    @media (max-width: $breakpoint-tablet) {
                            display: none;
                    }
                }
            }
                .header_left_content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 43px;
                    // $breakepoint-tablet: 1200px;
                    //      @media(max-width: $breakepoint-tablet) {
                    //         gap: 30px;
                    //      }
                    // $breakepoint-tablet: 1050px;
                    //      @media(max-width: $breakepoint-tablet) {
                    //         gap: 23px;
                    //      }
                    $breakepoint-tablet: 992px;
                         @media(max-width: $breakepoint-tablet) {
                            align-items: unset;
                            gap: 23px;
                         }

                         .haypost_logo {
                            $breakepoint-tablet: 768px;
                            @media(max-width: $breakepoint-tablet) {
                                display: none;
                            }
                         }

                         .hidden_menubar {
                            display: none;
                            width: 30px;
                            height: 30px;
                            background: #0063BD;
                            border-radius: 2.4px;
                            justify-content: center;
                            align-items: center;

                            $breakepoint-tablet: 992px;
                            @media(max-width: $breakepoint-tablet) {
                                display: flex;
                                svg path{
                                    fill: #FFFFFF;
                                }
                            }
                         }

                }
                     .header_menubar {
                        font-family: sans-serif;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-size: 16px;
                         color: #0063BD;
                         white-space: nowrap;
                         cursor: pointer;
                         $breakepoint-tablet: 992px;
                         @media(max-width: $breakepoint-tablet) {
                            display: none;
                         }
                         
                            >svg {
                                margin-right: 2px;
                            }

                        }
                                .header_arrow {
                                    margin-left: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                    .header_input_container {
                                        width: 100%;
                                        height: 47px;
                                        display: flex;
                                        $breakepoint-tablet:992px;
                                            @media(max-width:$breakepoint-tablet) {
                                                height: 35px;
                                            }

                                        input {
                                            $breakepoint-tablet:992px;
                                            @media(max-width:$breakepoint-tablet) {
                                                font-size: 14px;
                                                line-height: 19px;
                                                border-bottom-right-radius: 26px;
                                                border-top-right-radius: 26px;
                                            }
                                        }
                                        .input_search_box {
                                            background: #0063BD;
                                            width: 72px;
                                            height: 47px;
                                            display: grid;
                                            place-items: center;
                                            border-radius: 0px 30px 30px 0px;
                                            min-width: 72px;

                                            $breakepoint-tablet:992px;
                                            @media(max-width:$breakepoint-tablet) {
                                                display: none;
                                            }
                                        }
                                    }
                                        .header_input{
                                            width: 100%;
                                            height: 100%;
                                            border-bottom-left-radius: 26px;
                                            border-top-left-radius: 26px;
                                            background: #F5F5F5;
                                            border: none;
                                            outline-style: none;
                                            padding-left: 23px;
                                            font-family: Armenian;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 22px;
                                        }
                                            
                                                
                                    }
                    }
