.register_container {
    font-family: Armenian;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 157px;
    left: 149px;
    width: 343px;
    $breakepoint-tablet:1440px;
          @media(max-width: $breakepoint-tablet) {
            top: 100px;
          }
          $breakepoint-tablet:1250px;
          @media(max-width: $breakepoint-tablet) {
            left: 60px;
          }
          $breakepoint-tablet:895px;
          @media(max-height: $breakepoint-tablet) {
            top: 80px;
          }

          .input_hide_arrows{
            > input::-webkit-inner-spin-button{
              -Webkit-Appearance: none;
            }
          }
    
    .input_area {
        width: 100%;
        
        .login_form {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .register_name_surname_container{
            width: 100%;
            height: 55px;
            display: flex;
            gap: 8px;
            .reg_name{
            input {
                width: 100%;
                height: 100%;
                border: 1px solid #B3C7DF;
                border-radius: 5px;
                padding-left: 50px;
                font-weight: 400;
                font-size: 12px;
                line-height: 180%;
                outline-style: none;
                position: relative;
              }
            }
          }

          .login_input_div {
            width: 100%;
            height: 55px;

            input {
              width: 100%;
              height: 100%;
              border: 1px solid #B3C7DF;
              border-radius: 5px;
              padding-left: 50px;
              font-weight: 400;
              font-size: 12px;
              line-height: 180%;
              outline-style: none;
              position: relative;
            }
          }
          >button {
            width: 100%;
            height: 55px;
            background: #e40046;
            box-shadow: 0px 10px 30px rgba(0, 99, 189, 0.24);
            border-radius: 5px;
            border: none;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
            line-height: 180%;
            cursor: pointer;
          }
        }
      }
    .forgot-pass-area {
        margin-top: 24px;
      .forgot-pass {
        color: #0063bd;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        height: 18px;
        line-height: 150%;
        text-align: center;
        width: 172px;
      }
    }
    .login-social-area {
        grid-gap: 7px;
        display: flex;
        justify-content: space-between;
        max-width: 343px;
        width: 100%;
        color: #9098b1;
        font-size: 14px;
        font-weight: 700;
        
        .google-area {
          align-items: center;
          border: 1px solid #b3c7df;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          padding: 17px 20px;
          width: 50%;
          gap: 28px;
        }
        .fb-area {
          align-items: center;
          border: 1px solid #b3c7df;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          padding: 17px 20px;
          width: 50%;
          gap: 28px;
        }
      }
    .login_underline_area{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 24px 0;
        .login_underline{
          background: #f5f5f5;
          border: 1px solid #b3c7df;
          height: 0;
          width: 140px;
        }
        .login_underline_title{
          color: #9098b1;
          font-size: 14px;
          font-weight: 700;
          height: 21px;
          letter-spacing: .005em;
          line-height: 150%;
          margin: 0 15px;
          width: 34px;
        }
      }
    .login_header {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 32px;
            .each_login_button {
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              >span {
                border-bottom: 2px solid #c9c9c9;
                width: 100%;
                margin-top: 8px;
              }
              >button {
                cursor: pointer;
                width: 100%;
                background: #FFFFFF;
                border: none;
                font-family: Armenian;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #5F6D7C;
              }

              &:hover {
                > span {
                  border-bottom: 2px solid #F18E00;
                }
              }
            }
          }
}

.reg-error-name {
    border-color: red !important;
  }
.reg-error-surname {
  border-color: red !important;
  }
.reg-error-email {
  border-color: red !important;
  }
.reg-error-phone {
  border-color: red !important;
  }
.reg-error-password {
  border-color: red !important;
  }
.reg-error-confirmPassword {
  border-color: red !important;
  }
  
 button:disabled {
    opacity: .35;
  }

  .confirm-error{
    color: red;
    font-size: 13px;
  }
  .password-error{
    color: red;
    font-size: 13px;
  }
  .name-error{
    color: red;
    font-size: 13px;
  }
  .surname-error{
    color: red;
    font-size: 13px;
  }
  .email-error{
    color: red;
    font-size: 13px;
  }
  .phone-error{
    color: red;
    font-size: 13px;
  }
  