.topProducts_container {
    .more_assortment_span {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 20px;

        span {
            font-family: Armenian;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #0063bd;
            margin-top: 71px;
            margin-bottom: 53px;
            $breakpoint-tablet: 992px;
            @media (max-width: $breakpoint-tablet) {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    .topProducts {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        $breakpoint-tablet: 768px;
        @media (max-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: column;
        }

        .middleImg {
            display: flex;
            flex-direction: column;
            align-content: center;
            .middleImg_upper {
                position: relative;
                width: 100%;
                .image_buttons {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #ffffff;
                    opacity: 0.8;
                    border-radius: 50px;
                    padding: 9px 10px;
                    border: none;
                    display: none;
                    color: #0063bd;
                    font-family: sans-serif;
                    $breakpoint-tablet: 992px;
                    @media (max-width: $breakpoint-tablet) {
                        display: unset;
                    }
                }
                .first {
                    $breakpoint-tablet: 768px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 100%;
                    }
                }
            }
            $breakpoint-tablet: 768px;
            @media (max-width: $breakpoint-tablet) {
                justify-content: center;
                align-items: center;
            }

            .middleImg_under {
                display: flex;
                justify-content: space-between;
                $breakpoint-tablet: 768px;
                @media (max-width: $breakpoint-tablet) {
                    width: 100%;
                }
                .middleImg_under_divs {
                    position: relative;
                    img {
                        max-width: 50%;
                    }
                    .image_buttons {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #ffffff;
                        opacity: 0.8;
                        border-radius: 50px;
                        padding: 9px 26px;
                        border: none;
                        display: none;
                        color: #0063bd;
                        font-family: sans-serif;
                        $breakpoint-tablet: 992px;
                        @media (max-width: $breakpoint-tablet) {
                            display: unset;
                        }
                    }
                }
            }
        }

        .firstImg {
            position: relative;
            $breakpoint-tablet: 768px;
            @media (max-width: $breakpoint-tablet) {
                display: flex;
                justify-content: space-between;
            }
            .firstImg_inner {
                position: relative;
                .X {
                    $breakpoint-tablet: 992px;
                    @media (max-width: $breakpoint-tablet) {
                        display: none;
                    }
                }
                .accesories {
                    padding: 9px 10px !important;
                    $breakpoint-tablet: 768px;
                    @media (max-width: $breakpoint-tablet) {
                        display: unset;
                    }
                }
                .image_buttons {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #ffffff;
                    opacity: 0.8;
                    border-radius: 50px;
                    padding: 9px 26px;
                    border: none;
                    color: #0063bd;
                    font-family: sans-serif;
                }
            }
            img {
                height: -webkit-fill-available !important;
            }

            .image_buttons {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #ffffff;
                opacity: 0.8;
                border-radius: 50px;
                padding: 9px 30px;
                border: none;
                display: none;
                color: #0063bd;
                font-family: sans-serif;
                $breakpoint-tablet: 992px;
                @media (max-width: $breakpoint-tablet) {
                    display: unset;
                }
            }

            .hidden_image {
                display: none;
                $breakpoint-tablet: 768px;
                @media (max-width: $breakpoint-tablet) {
                    display: flex;
                }
            }
        }

        .lastImg {
            position: relative;
            $breakpoint-tablet: 768px;
            @media (max-width: $breakpoint-tablet) {
                display: none;
            }
            img {
                height: -webkit-fill-available !important;
            }

            .image_buttons {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #ffffff;
                opacity: 0.8;
                border-radius: 50px;
                padding: 9px 10px !important;
                border: none;
                display: none;
                color: #0063bd;

                $breakpoint-tablet: 992px;
                @media (max-width: $breakpoint-tablet) {
                    display: unset;
                }
            }
        }
    }
}
