.topslider-container {
    display: flex !important;
    background: #281E78;
    padding: 0 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    $breakpoint-tablet:768px;
    @media(max-width:$breakpoint-tablet){
      padding: 0 15px;
     }
    
    .topslider_arrowleft {
      width: 70px;
      height: 70px;
      background: #FFFFFF;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      $breakpoint-tablet:768px;
         @media(max-width:$breakpoint-tablet){
           display: none;
          }
    }
      .topslider_arrowright {
        width: 70px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        $breakpoint-tablet:768px;
         @media(max-width:$breakpoint-tablet){
           display: none;
          }
      }
       .container {
        display: flex;
        justify-content: space-between;
        max-width: 1470px;
        margin: 0 auto;
        padding: 55px 50px;
        width: 100%;

        $breakpoint-tablet:768px;
        @media(max-width:$breakpoint-tablet){
           padding: 55px 0px;
        }
        
         .topslider_left_content {
          color: #FFFFFF;
          display: flex;
          align-items: center;

          // $breakpoint-tablet:1250px;
          // @media(max-width:$breakpoint-tablet){
          //   text-align: center;
          //   padding-bottom: 20px;
          // }
          .nike-title {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 82px;
          }
           .slider-performance {
            padding-top: 39px;
            padding-bottom: 55px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            font-family: Poppins;
            font-style: normal;
            color: #FFFFFF;
           }
            .topslider_shopnow {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              background: #F18E00;
              border-radius: 4px;
              border: none;
              color: #FFFFFF;
              width: 55.5%;
              height: 55px;
            }
         }
             .topslider_right_content {
                width: 491px;
                height: 491px;
                background: linear-gradient(90deg, #FF5523 20.43%, #F2C655 118.67%);
                border-radius: 10px;
                display: flex;
                justify-content: flex-end;
                position: relative;

                $breakpoint-tablet:1250px;
                  @media(max-width:$breakpoint-tablet){
                    display: none;
          }
                 
                  svg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 0;
                  }
             }
       }
}